{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.text }}</a></td>
                <td>{{ user.rol }} -&gt; {{ user.active ? 'X' : '-' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new User</a>
        </li>
    </ul>
{% endblock %}
