{% extends 'base.html.twig' %}

{% block body %}
    <h1>Question edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <ul class="answers" data-prototype="{{ form_widget(edit_form.answers.vars.prototype)|e('html_attr') }}">
        {{ form_row(edit_form.answers )}}
        </ul>
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('question_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
