{% extends 'base.html.twig' %}

{% block body %}
    <h1>Question edit</h1>

    {{ form_start(form) }}
        {# render the task's only field: description #}
        {{ form_row(form.text) }}

        <h3>Answers</h3>
        <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for answer in form.answers %}
                <li>{{ form_row(answer) }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="Guardar">
        {% block jsblock %}{% endblock %}
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('question_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
