{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Respuestas</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('question_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{{ question.text }}</td>
                <td>{% for answer in question.answers %}
                    <p>{{ answer }} -&gt; {{ answer.valid ? 'X' : '-' }} </p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('question_new') }}">Create a new question</a>
        </li>
    </ul>
{% endblock %}
